* {
    font-family: sans-serif;
    
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

.sidebar_wrapper {
    display: flex;
    flex-direction: column;
    width: max-content;
    min-height: calc(100vh - 20px);
    padding: 10px;
}


.settings_button, .section_button, .tos_button, .gallery_button, .gallery_button2, .doc_button {
    background-color: var(--color-background);
}

.settings_button:hover, .section_button:hover, .tos_button:hover, .gallery_button:hover, .gallery_button:hover2, .doc_button:hover {
    background-color: var(--button-background);
}