* {
    font-family: sans-serif;
    
}


body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    display: flex;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
}

.sidebar_wrapper {
    grid-area: 0 / 0;
    display: flex;
    flex-direction: column;
    width: max-content;
    min-height: calc(100vh - 20px);
    padding: 10px;
}

.selected {
    background-color: var(--button-background);
}


md-block {
    clear: all;
}
